* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body,
input,
textarea,
button {
  font-family: "Roboto", sans-serif;
}

body {
  color: #111111;
  font-size: 13px;
  background-color: #eaeaea;

  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  height: 100%;
}

.calculator {
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.display {
  background-color: #fafafa;
  text-align: right;
  margin-bottom: 10px;
  padding: 10px;
  font-weight: 500;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.display input {
  border: none;
  background: transparent;
  width: 80px;
  text-align: right;
  font-weight: 500;
}

.close {
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
}
.close:hover {
  opacity: 0.9;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  margin-bottom: 2px;
}

.button {
  width: 30px;
  height: 30px;
  background-color: #dfe6e9;
  border: 1px solid #dfe6e9 ;
  border-radius: 2px;
  margin: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03);
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.button:hover {
  opacity: 1;
  border: 1px solid #d1d1d1;
}
.button:active {
  background-color: #d1d1d1;
}

.green {
  background-color: #55efc4;
}
.red {
  background-color: #ff7675;
}
.blue {
  background-color: #74b9ff;
}
.gray {
  background-color: #636e72;
}
.purple {
  background-color: #a29bfe;
}
