* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body,
input,
textarea,
button {
  font-family: "Roboto", sans-serif;
}

body {
  color: #111111;
  font-size: 16px;
  background-color: #cfcfcf;

  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  height: 100%;
}

.calculator {
  padding: 10px 20px;
  background-color: #2f2b39;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  width: 270px;
}

.display {
  text-align: right;
  margin: 50px 0 60px;
  font-weight: 500;
  border-radius: 2px;
}

.display input {
  border: none;
  background: transparent;
  width: 100%;
  text-align: right;
  font-weight: 400;
  font-size: 40px;
  color: #f2f2f2;
}

.close {
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
}
.close:hover {
  opacity: 0.9;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  margin-bottom: 10px;
}

.button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none ;
  border-radius: 2px;
  margin: 2px;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 500;
  color: #f2f2f2;
  font-size: 18px;
}

.button:hover {
  opacity: 1;
}
.button:active {
}

.rounded {
  margin: 5px;
  border-radius: 50%;
  font-size: 16px;
}

.green {
  background-color: #55efc4;
}
.red {
  background-color: #ff7675;
}
.blue {
  background-color: #74b9ff;
}
.gray {
  background-color: #bfbfc1;
  color: #2f2d38;
}
.purple {
  background-color: #7d5dfe;
  color: #f2f2f2;
}

.purple-text {
  color: #7d5dfe;
}